<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
<h1>Register</h1>
<form method="post" action="/Register">
    <p>
        <label>Mail:</label>
        <input type="text" name="mail">
    </p>
    <p>
        <label>Password:</label>
        <input type="text" name="password">
    </p>
    <p>
        <input type="submit" value="Register">
    </p>
    <p>Vous avez un compte? <a href="/login">Login</a></p>

</form>

<%- include('includes/footer.ejs') %>