<header class="main-header">
    <button id="side-menu-toggle">Menu</button>
    <nav class="main-headernav">
        <ul class="main-headeritem-list">
            <li class="main-headeritem">
                <a class="" href="/">Shop</a>
            </li>
            <li class="main-headeritem">
                <a class="" href="">Products</a>
            </li>
            <li class="main-headeritem">
                <a class="" href="">Cart</a>
            </li>
            <li class="main-headeritem">
                <a class="" href="">Orders</a>
            </li>
            <li class="main-headeritem">
                <a class=">" href="">Add Product
                </a>
            </li>
            <li class="main-headeritem">
                <a class="" href="">Admin Product
                </a>
            </li>
        </ul>
    </nav>
</header>